/* Reset some default styles of the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
}

header {
    background-color: #90EE90;
    color: #1a1717;
    padding: 10px 0;
    text-align: center;
}

main {
    width: 80%;
    margin: 20px auto;
}

#query-section, #suggestions-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#query-form {
    display: flex;
    flex-direction: column;
}

#query-form label {
    margin-bottom: 5px;
}

#query-form input, #query-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0e0c0c;
}

#query-form button {
    padding: 10px 20px;
    background-color: #90EE90;
    color: #1c1616;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#query-form button:hover {
    background-color: #e2c3c3;
}

#suggestions-container {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
